// meta

meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
title BREAD

link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,500,700|Roboto:300,500,700")

// lib

link(rel='stylesheet', href='lib/owl.carousel.css')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
//- script(type="text/javascript", src="https://unpkg.com/scrollreveal")
script(src='lib/scrollreveal.min.js')



//css
link(rel='stylesheet', href='css/style.css')

