// meta

meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
title BREAD

//fb share
meta(property='og:url', content='https://purple1007.github.io/bread/')
meta(property='og:image', content='img/cover.png')
meta(property='og:title', content='Bread')
meta(property='og:description', content='新鮮麵包出爐囉！Bread麵包源自對可頌麵包熱愛、有多種風味可頌麵包、全麥麵包；我們堅持手工現作、當天麵包不過夜，使用全麥、橄欖油、可溯源食材。歡迎來購買～！')


link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,500,700|Roboto:300,500,700")

// lib

link(rel='stylesheet', href='lib/owl.carousel.min.css')
link(rel='stylesheet', href='lib/owl.theme.default.min.css')
link(rel='stylesheet', href='lib/basictable.css')
link(rel='stylesheet', href='lib/fontawesome/css/all.css')


script(src='lib/scrollreveal.min.js')



//css
link(rel='stylesheet', href='css/style.css')

// favicon
link(rel="shortcut icon", href="img/favicon.ico", crossorigin="anonymous" )

