// meta

meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
title BREAD

link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,500,700|Roboto:300,500,700")

// lib

link(rel='stylesheet', href='lib/owl.carousel.min.css')
link(rel='stylesheet', href='lib/owl.theme.default.min.css')
link(rel='stylesheet', href='lib/basictable.css')
link(rel='stylesheet', href='lib/fontawesome/css/all.css')


script(src='lib/scrollreveal.min.js')



//css
link(rel='stylesheet', href='css/style.css')

