extends layout.pug
block content
	// ------------- about begin ---------------
	section.p_about_1
		.w1200
			.e_titlebox.reveal_bottom
					img.e_title_icon(src="img/about_icon.svg")
					.e_title
						h1 關於我們
						h1.enh1 About us
			figure
				img(src="img/about/about_img_1.png").reveal_bottom
				article.col33.reveal_bottom
					h2 職人手作
					p 山用且省日以有四筆長，許字樣升河功校保負開信我樣優是年親特王消果響道字朋她民常不，開字解大頭各臉葉不達再情大正覺下卻小灣有師環然開一陸下，平果他家不都語然們，花見有不朋然起邊連 ……

	section.p_about_2
		figure
			img(src="img/about/about_img_2.png").reveal_bottom
			.w1200
				article.col33.reveal_bottom
					h2 職人手作
					p 山用且省日以有四筆長，許字樣升河功校保負開信我樣優是年親特王消果響道字朋她民常不，開字解大頭各臉葉不達再情大正覺下卻小灣有師環然開一陸下，平果他家不都語然們，花見有不朋然起邊連 ……

	section.p_about_3
		.w1200
			figure
				img(src="img/about/about_img_3.png").reveal_bottom
				article.col33.reveal_bottom
					h2 職人手作
					p 山用且省日以有四筆長，許字樣升河功校保負開信我樣優是年親特王消果響道字朋她民常不，開字解大頭各臉葉不達再情大正覺下卻小灣有師環然開一陸下，平果他家不都語然們，花見有不朋然起邊連 ……

	section.p_about_4
		.w1200
			figure
				img(src="img/about/about_img_4.png").reveal_bottom
				article.col33.reveal_bottom
					h2 職人手作
					p 山用且省日以有四筆長，許字樣升河功校保負開信我樣優是年親特王消果響道字朋她民常不，開字解大頭各臉葉不達再情大正覺下卻小灣有師環然開一陸下，平果他家不都語然們，花見有不朋然起邊連 ……






block page_js
	// ------------- about js ---------------
	script(type='text/javascript').

		ScrollReveal().reveal('figure img, figure article', {interval: 200}
		    );