extends layout.pug
block content
    // ------------- account like list -------------
    .l_account_title.w1200
        i.fas.fa-user
        span 會員專區

    .l_account_body.w1200
        .l_account_left.col20
            ul
                li
                    a(href="order_list.html") 訂單查詢
                li
                    a(href="like_list.html").text-red 我的收藏
                li
                    a(href="account_setting.html") 帳號設定
                li
                    a(href="login.html") 登出
        .l_account_right.col80
            .l_account_main
                h5 我的收藏
                ul.p_account_like_list
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95

                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                    li.col33
                        .p_account_like_list_card
                            label
                                input(type="checkbox").checkbox
                                span.radiomark
                                    i.fas.fa-heart

                            .e_product_card
                                a.e_product_card_pic(href="product_info.html")
                                    img(src="img/product/product_a.png")
                                a.e_product_card_name(href="product_info.html") 起司可頌
                                small.e_product_card_info 香濃卡士達起司、搭配經典可頌。
                                b.e_product_card_price NT$ 95
                .p_order_list_page
                    .e_page
                        i.fas.fa-chevron-left
                        .e_page_number
                            a(href="#") 1
                            a(href="#") 2
                            a(href="#") 3
                            a(href="#") 4
                        i.fas.fa-chevron-right
