extends layout.pug
block content
    // ------------- news info begin ---------------

    section.w1200.p_news_info_title
        .e_titlebox
            img.e_title_icon(src="img/about_icon.svg")
            .e_title
                h1 最新消息
                h1.enh1 News

    section.w800.p_news_info_body
        .e_news_card_tabbox
            p.e_news_card_tab 店舖活動
            p.e_news_card_date 2019.02.09 Sat
        h1 全新系列麵包開催！

        .p_news_info_cover(style="background-image: url('img/news/news_cover.png')")

        .p_news_info_article
            p 前坡美大廣文看獲邊大：式住像失公廣了只，相靈性情：知詩青重。術動代一的、場此懷感提點服兒言子明民木地者安：精間死我思產為，每顧示不速臺說所場樓要聯母正片問山兒失有一正標媽？型日速資也企地個到易壓意經往教星、化企水學的著。以總爸的多著那就品馬停團解。手理書與，文教小原單，星新雲一成孩強位活，半合依女是。停一青聲過；至緊百決，不量現歌不走！雖業電可海白戰團人是大如，布品只像青，氣支就有……不西便辦同油態了提來善來平金與。天爭良好業。
            p 老言因一要時還舉，考有子達好相。
            p 器投響，也的小？
            p 的心年們紙一一像得布共遊製問不市力公半金著。
            p 一養信陸太小覺演陽的們再樂。
            p 雨了國大的戰商歡的速食交也個。過字學、題時術一洲年機手可去、的展印治爸養病度好除，此張電中；邊排麼布，會想人。覺馬停八發世些在和產其果力命的可例的子陸顯起醫成；少的是，他通生夫少黨那地將要共力，哥頭名和爭度負的，總器只而不會什里政決八懷座太，傳去展，成她書否著光；物者麼實希！
            p 身友富視消商他以的再還過？樂不而是臺有反政了度他大是功，生為先臺可生舞面大共光法。且多區代不法不一：入當例一這！思來多賽全的油有滿活軍是在有學寫土為改不最問投媽回。


        .p_product_info_share.e_share_link.reveal_bottom
                a(href="#").e_share_btn.share-color
                    i.fas.fa-share
                    span 連結分享
                a(href="#").e_share_btn.twitter-color
                    i.fab.fa-twitter
                    span 推文
                a(href="#").e_share_btn.fb-color
                    i.fab.fa-facebook-f
                    span 分享
                a(href="#").e_share_btn.pint-color
                    i.fab.fa-pinterest-p
                    span SAVE
                a(href="#").e_share_btn.line-color
                    img(src="img/line_icon.svg")
                    span 分享

        .p_news_info_more
            a(href="news_list.html").btn_main 回到最新消息









block page_js
    // ------------- news info js ---------------
    script(type='text/javascript').