extends layout.pug
block content
    // ------------- product info begin ---------------

    // -----  kv
    section.l_kv#top
        .l_photobox(style="background-image: url('img/product/hero.png')")

    section.p_product_category
        .w1200
            .e_titlebox.col33.reveal_bottom
                img.e_title_icon(src="img/product_icon.svg")
                .e_title
                    h1 產品
                    h1.enh1 Product List

            .col66.p_product_category_img
                figure.col33.e_product_category_card.reveal_bottom
                    a(href="product.html")
                        img(src="img/product/product_a.png")
                        .e_product_category_title
                            p 可頌系列
                            p Croissant

                figure.col33.e_product_category_card.reveal_bottom
                    a(href="product.html")
                        img(src="img/product/product_b.png")
                        .e_product_category_title
                            p 吐司系列
                            p Toast

                figure.col33.e_product_category_card.reveal_bottom
                    a(href="product.html")
                        img(src="img/product/product_c.png")
                        .e_product_category_title
                            p 全麥麵包系列
                            p Whole Wheat Bread





block page_js
    // ------------- about js ---------------
    script(type='text/javascript').